{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = 'utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Dent </title>
        <link rel ="stylesheet" type="text/css" href = "{% static '/css/main.css' %}">
    </head>
    <body>
        {% include 'dent/navbar.html' %}
        {% block content %}

        {% endblock %}

        
    </body>
    <script>
        var nav = document.getElementById('unorder-list-nav');

        function toggleNav () {       

            if ( nav.style.display === "" )
            nav.style.display = "block";

            else
            nav.style.display = "";
        }


        function windowResizeHandler () {
            if ( screen.width > 700 )
            nav.style.display = "";
        }

        window.addEventListener("resize", windowResizeHandler);


        function ClearFields() {

            document.getElementById("datefilter").value = "";
            document.getElementById("doctorfilter").value = "";
            document.getElementById("patientfilter").value = "";
            }
    </script>
</html>